.home {
  display: flex;
  background-color: white;

  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 1.25em;
      gap: 1.25em;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      transition: box-shadow 0.5s ease-in-out;

      &:hover {
        -webkit-box-shadow: 9px 10px 5px 0px rgba(209, 207, 209, 1);
        -moz-box-shadow: 9px 10px 5px 0px rgba(209, 207, 209, 1);
        box-shadow: 9px 10px 5px 0px rgba(209, 207, 209, 1);
      }

      padding: 1.25em;
      margin: 1.25em;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 1em;
      }
    }
  }
}
