.navbar {
  height: 3.25em;
  border-bottom: 0.5px solid rgb(188, 184, 184);
  display: flex;
  align-items: center;
  color: #555;
  font-size: 1rem;

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25em;

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;
      border-radius: 1rem;

      input {
        border: none;
        outline: none;
        background: transparent;
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 1.25em;
        position: relative;

        .icon {
          font-size: 1.25em;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .counter {
          height: 15px;
          width: 15px;
          background: red;
          display: flex;
          align-items: center;
          color: white;
          font-size: 10px;
          justify-content: center;
          border-radius: 50%;

          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
