.app.dark {
  background: #222;
  color: gray;

  .chartGrid {
    stroke: rgb(74, 67, 67);
  }

  .table {
    background: black;

    .tableCell {
      color: gray;
    }
  }

  .navbar {
    background: #999;
    border-color: #333;

    .search {
      border-color: gary;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }

    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: gray;
        }
      }
    }
  }

  .datatable {
    .dataGrid {
      color: gray;
      border: none;

      .viewButton,
      .deleteButton ,
      {
        color: gray;
        border: none;
      }
    }
  }
}
